<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>learn vue</title>
    <script src="/static/vue/vue.js"></script>
    <!-- 引入element-ui样式 -->
    <link rel="stylesheet" href="/static/element-ui/index.css">
    <!-- 引入element-ui组件库 -->
    <script src="/static/element-ui/index.js"></script>
    <script>Vue.config.productionTip=false</script>
{#    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
</head>
<body>
    <div id="app">
        {% verbatim myblock %}
            {{ message }}
        {% endverbatim myblock %}
    </div>
    <script type="text/javascript">
        var data = { message: 'Hello Vue' };
        var app = new Vue({
            el: '#app',
            data: data
        });
        app.$watch('message',function (newVal, oldVal) {
            console.log(newVal,oldVal)
        });
        data.message = 'Change Hello Vue';
    </script>
</body>
</html>