<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ArithmeticJia-404</title>
    <link rel="stylesheet" href="/static/pageno/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/pageno/css/404.css">
    <script src="/static/pageno/js/404.js"></script>

</head>

<body>
    <div class="error">
        <div class="container-floud">
            <div class="col-xs-12 ground-color text-center">
                <div class="container-error-404">
                    <div class="clip">
                        <div class="shadow">
                            <span class="digit thirdDigit"></span>
                        </div>
                    </div>
                    <div class="clip">
                        <div class="shadow">
                            <span class="digit secondDigit"></span>
                        </div>
                    </div>
                    <div class="clip">
                        <div class="shadow">
                            <span class="digit firstDigit"></span>
                        </div>
                    </div>
                    <div class="msg">OH!
                        <span class="triangle"></span>
                    </div>
                </div>
                <h2 class="h1">很抱歉，你访问的页面找不到了</h2>
                <p>
                    <a class="tohome" href="/blog/index">返回首页</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>