<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--
    <title>{JARVIS}Admin</title>
    -->
    <title>TriAquae 3.0</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--// OPTIONAL & CONDITIONAL cpucss FILES //-->   
    <!-- date picker cpucss -->
    <link rel="stylesheet" href="/static/monitorcss/datepicker.css?v=1">
    <!-- full calander cpucss -->
    <link rel="stylesheet" href="/static/monitorcss/fullcalendar.css?v=1">
    <!-- data tables extended cpucss -->
    <link rel="stylesheet" href="/static/monitorcss/TableTools.css?v=1">
    <!-- bootstrap wysimhtml5 editor -->
    <link rel="stylesheet" href="/static/monitorcss/bootstrap-wysihtml5.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/wysiwyg-color.css">
    <!-- custom/responsive growl messages -->
    <link rel="stylesheet" href="/static/monitorcss/toastr.custom.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/toastr-responsive.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/jquery.jgrowl.css?v=1">
    
    <!-- // DO NOT REMOVE OR CHANGE ORDER OF THE FOLLOWING // -->
    <!-- bootstrap default cpucss (DO NOT REMOVE) -->
    <link rel="stylesheet" href="/static/monitorcss/bootstrap.min.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/bootstrap-responsive.min.css?v=1">
    <!-- font awsome and custom icons -->
    <link rel="stylesheet" href="/static/monitorcss/font-awesome.min.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/cus-icons.css?v=1">
    <!-- jarvis widget cpucss -->
    <link rel="stylesheet" href="/static/monitorcss/jarvis-widgets.css?v=1">
    <!-- Data tables, normal tables and responsive tables cpucss -->
    <link rel="stylesheet" href="/static/monitorcss/DT_bootstrap.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/responsive-tables.css?v=1">
    <!-- used where radio, select and form elements are used -->
    <link rel="stylesheet" href="/static/monitorcss/uniform.default.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/select2.css?v=1">
    <!-- main theme files -->
    <link rel="stylesheet" href="/static/monitorcss/theme.css?v=1">
    <link rel="stylesheet" href="/static/monitorcss/theme-responsive.css?v=1">
    
    <!-- // THEME cpucss changed by javascript: the cpucss link below will override the rules above // -->
    <!-- For more information, please see the documentation for "THEMES" -->
    <link rel="stylesheet" id="switch-theme-js" href="/static/monitorcss/themes/default.css?v=1">
    
    <!-- To switch to full width -->
    <link rel="stylesheet" id="switch-width" href="/static/monitorcss/full-width.css?v=1">
    
    <!-- Webfonts -->
    <!-- disable by zp
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css'>
    -->
    
    <!-- All javascripts are located at the bottom except for HTML5 Shim -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="monitorjs/include/respond.min.js"></script>
    <![endif]-->
    
    <!-- For Modern Browsers -->
    <link rel="shortcut icon" href="/static/monitorimg/favicons/favicon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="/static/monitorimg/favicons/favicon.ico">
    <!-- For retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/monitorimg/favicons/apple-touch-icon-retina.png">
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/monitorimg/favicons/apple-touch-icon-ipad.png">
    <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="/static/monitorimg/favicons/apple-touch-icon.png">
    
    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Add your custom home screen title: -->
    <meta name="apple-mobile-web-app-title" content="Jarvis"> 

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/static/monitorimg/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/static/monitorimg/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/static/monitorimg/splash/iphone.png" media="screen and (max-device-width: 320px)">
    <link rel="stylesheet" href="/static/monitorcss/jquery-ui.min.css" />
    </head>
    <script src="/static/monitorjs/libs/jquery.min.js"></script>
    <script src="/static/monitorjs/libs/jquery.ui.min.js"></script>
    

  <body>
    <!-- .height-wrapper -->
    <div class="height-wrapper">
        
        <!-- header -->
        <header>
            <!-- tool bar -->
            <div id="header-toolbar" class="container-fluid">
                <!-- .contained -->
                <div class="contained">
                    
                    <!-- theme name -->
                    <h1> 性能监控系统 3.0<span class="hidden-phone">{{ theme }}</span> </h1>

                    <!-- end theme name -->
                    <div class="pull-right">
						<div id="theme-switcher" class="btn-toolbar">
							<div class="btn-group hidden-phone">
                                {% if request.session.is_login %}
                                    <a class="btn btn-small btn-inverse ">当前在线：{{ request.session.user_name }}</a>
                                    <a class="btn btn-small btn-inverse dropdown-toggle" href="/Blog/logout/">logout</a>
                                {% else %}
                                    <a class="btn btn-small btn-inverse dropdown-toggle" href="/Blog/login/">login</a>
								    <a class="btn btn-small btn-inverse dropdown-toggle" href="/Blog/register/">register</a>
							    {% endif %}
                            </div>
						</div>
					</div>
                </div>
                <!-- end .contained -->
            </div>
            <!-- end tool bar -->
            
        </header>
        <!-- end header -->
        
        <div id="main" role="main" class="container-fluid">
            
            <div-- class="contained">
                <!-- aside -->
			<!--div id="showsidebar" style="position:fixed;border:1px solid #888;border-left:none;left:249px;top:270px;z-index:100;padding:15px 0 15px 0;"><a><i class="icon icon-chevron-left"> </i></a></div-->
                
                <!-- aside end -->
                
                {% block page-content %}

                {% endblock %}
            
            </div>
            
        </div><!--end fluid-container-->
        <!--
        <div class="push"></div>
        -->
    </div>
    <!-- end .height wrapper -->
    
    <!-- footer -->
    
    <!-- if you like you can insert your footer here -->
    
    <!-- end footer -->

    <!--================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/static/cpujs/libs/jquery.min.js"><\/script>')</script>
        <!-- OPTIONAL: Use this migrate script for plugins that are not supported by jquery 1.9+ -->
        <!-- DISABLED <script src="monitorjs/libs/jquery.migrate-1.0.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->
    <script>window.jQuery.ui || document.write('<script src="/static/cpujs/libs/jquery.ui.min.js"><\/script>')</script>
    
    <!-- IMPORTANT: Jquery Touch Punch is always placed under Jquery UI -->
    <script src="/static/monitorjs/include/jquery.ui.touch-punch.min.js"></script>
    
    <!-- REQUIRED: Mobile responsive menu generator -->
    <script src="/static/monitorjs/include/selectnav.min.js"></script>

    <!-- REQUIRED: Datatable components -->
    <script src="/static/monitorjs/include/jquery.accordion.min.js"></script>

    <!-- REQUIRED: Toastr & Jgrowl notifications  -->
    <script src="/static/monitorjs/include/toastr.min.js"></script>
    <script src="/static/monitorjs/include/jquery.jgrowl.min.js"></script>
    
    <!-- REQUIRED: Sleek scroll UI  -->
    <script src="/static/monitorjs/include/slimScroll.min.js"></script>
    
    <!-- REQUIRED: Datatable components -->
    <script src="/static/monitorjs/include/jquery.dataTables.min.js"></script>
    <script src="/static/monitorjs/include/DT_bootstrap.min.js"></script>

    <!-- REQUIRED: Form element skin  -->
    <script src="/static/monitorjs/include/jquery.uniform.min.js"></script>

    <!-- REQUIRED: AmCharts  -->
    <script src="/static/monitorjs/include/amchart/amcharts.js"></script>
    <script src="/static/monitorjs/include/amchart/amchart-draw1.js"></script>

    <script type="text/javascript">
        var ismobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));  
        if(!ismobile){
            
            /** ONLY EXECUTE THESE CODES IF MOBILE DETECTION IS FALSE **/
            
            /* REQUIRED: Datatable PDF/Excel output componant */
            
            document.write('<script src="/static/cpujs/include/ZeroClipboard.min.js"><\/script>');
            document.write('<script src="/static/cpujs/include/TableTools.min.js"><\/script>');
            document.write('<script src="/static/cpujs/include/select2.min.js"><\/script>');
            document.write('<script src="/static/cpujs/include/jquery.excanvas.min.js"><\/script>');
            document.write('<script src="/static/cpujs/include/jquery.placeholder.min.js"><\/script>');
            
        }else{
            
            /** ONLY EXECUTE THESE CODES IF MOBILE DETECTION IS TRUE **/
            
            document.write('<script src="/static/cpujs/include/selectnav.min.js"><\/script>');
        }
    </script>

    <!-- REQUIRED: iButton -->
    <script src="/static/monitorjs/include/jquery.ibutton.min.js"></script>
    
    <!-- REQUIRED: Justgage animated charts -->
    <script src="/static/monitorjs/include/raphael.2.1.0.min.js"></script>
    <script src="/static/monitorjs/include/justgage.min.js"></script>
    
    <!-- REQUIRED: Morris Charts -->
    <script src="/static/monitorjs/include/morris.min.js"></script>
    <script src="/static/monitorjs/include/morris-chart-settings.js"></script>
    
    <!-- REQUIRED: Animated pie chart -->
    <script src="/static/monitorjs/include/jquery.easy-pie-chart.min.js"></script>
    
    <!-- REQUIRED: Functional Widgets -->
    <script src="/static/monitorjs/include/jarvis.widget.min.js"></script>
    <script src="/static/monitorjs/include/mobiledevices.min.js"></script>
    <!-- DISABLED (only needed for IE7 <script src="monitorjs/include/cpujson2.monitorjs"></script> -->
    
    <!-- REQUIRED: Full Calendar -->
    <script src="/static/monitorjs/include/jquery.fullcalendar.min.js"></script>
    
    <!-- REQUIRED: Flot Chart Engine -->
    <script src="/static/monitorjs/include/jquery.flot.cust.min.js"></script>
    <script src="/static/monitorjs/include/jquery.flot.resize.min.js"></script>
    <script src="/static/monitorjs/include/jquery.flot.tooltip.min.js"></script>
    <script src="/static/monitorjs/include/jquery.flot.orderBar.min.js"></script>
    <script src="/static/monitorjs/include/jquery.flot.fillbetween.min.js"></script>
    <script src="/static/monitorjs/include/jquery.flot.pie.min.js"></script>
    
    <!-- REQUIRED: Sparkline Charts -->
    <script src="/static/monitorjs/include/jquery.sparkline.min.js"></script>

    <!-- REQUIRED: Infinite Sliding Menu (used with inbox page) -->
    <script src="/static/monitorjs/include/jquery.inbox.slashc.sliding-menu.js"></script>

    <!-- REQUIRED: Form validation plugin -->
    <script src="/static/monitorjs/include/jquery.validate.min.js"></script>
    
    <!-- REQUIRED: Progress bar animation 
    <script src="/static/monitorjs/include/bootstrap-progressbar.min.monitorjs"></script> -->
    
    <!-- REQUIRED: wysihtml5 editor -->
    <script src="/static/monitorjs/include/wysihtml5-0.3.0.min.js"></script>
    <script src="/static/monitorjs/include/bootstrap-wysihtml5.min.js"></script>

    <!-- REQUIRED: Masked Input -->
    <script src="/static/monitorjs/include/jquery.maskedinput.min.js"></script>
    
    <!-- REQUIRED: Bootstrap Date Picker -->
    <script src="/static/monitorjs/include/bootstrap-datepicker.min.js"></script>

    <!-- REQUIRED: Bootstrap Wizard -->
    <script src="/static/monitorjs/include/bootstrap.wizard.min.js"></script>
    
    <!-- REQUIRED: Bootstrap Color Picker -->
    <script src="/static/monitorjs/include/bootstrap-colorpicker.min.js"></script>
    
    <!-- REQUIRED: Bootstrap Time Picker -->
    <script src="/static/monitorjs/include/bootstrap-timepicker.min.js"></script>
    
    <!-- REQUIRED: Bootstrap Prompt -->
    <script src="/static/monitorjs/include/bootbox.min.js"></script>
    
    <!-- REQUIRED: Bootstrap engine -->
    <script src="/static/monitorjs/include/bootstrap.min.js"></script>
    
    <!-- DO NOT REMOVE: Theme Config file -->
    <script src="/static/monitorjs/config.js"></script>
    
    <!-- d3 library placed at the bottom for better performance -->
    <!-- DISABLED  <script src="monitorjs/include/d3.v3.min.monitorjs"></script> -->
    <!-- DISABLED  <script src="monitorjs/include/adv_charts/d3-chart-1.monitorjs"></script> -->
    <!-- DISABLED  <script src="monitorjs/include/adv_charts/d3-chart-2.monitorjs"></script> -->

    <!-- Google Geo Chart -->
    <!-- DISABLED <script src="http://maps.google.com/maps/api/cpujs?sensor=true" type="text/javascript"></script> -->
    <!-- DISABLED <script type='text/javascript' src='https://www.google.com/cpujsapi'></script>-->
    <!-- DISABLED <script src="monitorjs/include/adv_charts/geochart.monitorjs"></script> -->

    <!-- zp add for table filter -->
    <script src="/static/monitorjs/include/assets_filter_table.js"></script>
    <script>
	$(function(){
		asideshow = true;
		$("#showsidebar").click(function(){
			if(asideshow){
				$("aside").hide();
				$(this).monitorcss("left","0px");
				$icon = $(this).find(".icon");
				$icon.removeClass("icon-chevron-left").addClass("icon-chevron-right");
				asideshow = false;
			}else{
				$("aside").show();
				$(this).monitorcss("left","249px");
				$icon = $(this).find(".icon");
                                $icon.removeClass("icon-chevron-right").addClass("icon-chevron-left");
				asideshow = true;
			}
		})
	
	
	});
	</script>    
    <!-- end scripts -->
  </body>
</html>
