<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>ArithmeticJia | Article Detail</title>
  <link rel="stylesheet" type="text/css" href="/static/shop/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/owl.transitions.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/cubeportfolio.min.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/bootsnav.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/settings.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/loader.css">
  <link rel="stylesheet" type="text/css" href="/static/shop/css/style.css">

  <link rel="shortcut icon" href="/static/shop/images/favicon.png">


  <!--[if lt IE 9]>
  <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>


 


  <!--Loader-->
  <div class="loader">
    <div class="spinner-load">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>


  <!--TOPBAR-->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="header-top-entry">
            <div class="title">
              ENGLISH<i class="fa fa-angle-down"></i>
            </div>
            <div class="list">
              <a class="list-entry" href="#.">English</a>
              <a class="list-entry" href="#.">Spanish</a>
            </div>
          </div>
          <div class="header-top-entry">
            <div class="title">
              USD<i class="fa fa-angle-down"></i>
            </div>
            <div class="list">
              <a class="list-entry" href="#.">$ CAD</a>
              <a class="list-entry" href="#.">€ EUR</a>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <ul class="top_link">
            <li><a href="#." class="uppercase">My Account</a>
            </li>
            <li><a href="#." class="uppercase">wishlish</a>
            </li>
            <li><a href="#." class="uppercase">checkout</a>
            </li>
            <li><a href="#." class="uppercase">login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--HEADER-->
  <header>
    <nav class="navbar navbar-default navbar-sticky bootsnav">
      <div class="container">

        <div class="attr-nav">
          <ul>
            <li class="cart-toggler">
              <a href="#.">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge">3</span>
              </a>
            </li>
            <li class="search"><a href="#."><i class="fa fa-search"></i></a>
            </li>
          </ul>
        </div>

        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="shopindex.html"><img src="images/logo.png" class="logo" alt="">ArithmeticJia
          </a>
        </div>
        <!-- End Header Navigation -->

        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
            <li class="dropdown">
              <a href="#." class="dropdown-toggle" data-toggle="dropdown">Home</a>
              <ul class="dropdown-menu">
                <li><a href="shopindex.html">Home V1</a>
                </li>
                <li><a href="index2.html">Home V2</a>
                </li>
                <li><a href="index3.html">Home V3</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#." class="dropdown-toggle" data-toggle="dropdown">Products</a>
              <ul class="dropdown-menu">
                <li><a href="grid.html">Grid Default</a>
                </li>
                <li><a href="grid_list.html">Grid Lists</a>
                </li>
                <li><a href="grid_sidebar.html">Grid Sidebar</a>
                </li>
                <li><a href="shoplist_sidebar.html">Lists Sidebar</a>
                </li>
              </ul>
            </li>
            <li><a href="#.">collection</a>
            </li>
            <li class="dropdown megamenu-fw active">
              <a href="#." class="dropdown-toggle" data-toggle="dropdown">pages</a>
              <ul class="dropdown-menu megamenu-content" role="menu">
                <li>
                  <div class="row">
                    <div class="col-menu col-md-3">
                      <h5 class="title heading_border">Blog</h5>
                      <div class="content">
                        <ul class="menu-col">
                          <li><a href="blog1.html">Blog Two Cols</a>
                          </li>
                          <li><a href="blog2.html">Blog Three Cols</a>
                          </li>
                          <li><a href="blog_post.html">Blog Posts</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-menu col-md-3">
                      <h5 class="title heading_border">Products Elements</h5>
                      <div class="content">
                        <ul class="menu-col">
                          <li><a href="checkout.html">Product Chekouts</a>
                          </li>
                          <li><a href="shopproduct_detail.html">Products Details</a>
                          </li>
                          <li><a href="cart.html">Shopping Cart</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-menu col-md-3">
                      <h5 class="title heading_border">Theme Elements</h5>
                      <div class="content">
                        <ul class="menu-col">
                          <li><a href="#.">Skills</a>
                          </li>
                          <li><a href="#.">Team & Testimonials</a>
                          </li>
                          <li><a href="404.html">Errors</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-menu col-md-3">
                      <div class="content">
                        <img src="/static/shop/images/mega-menu.png" alt="menu" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="#.">about us</a>
            </li>
            <li><a href="contact.html">contact us</a>
            </li>
          </ul>
        </div>
        <div class="search-toggle">
          <div class="top-search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
        <ul class="cart-list">
          <li>
            <a href="#." class="photo"><img src="/static/shop/images/hover-cart.jpg" class="cart-thumb" alt="" />
            </a>
            <h6><a href="#.">Sacrificial Chair Design </a></h6>
            <p>Qty: 2 <span class="price">$170.00</span>
            </p>
          </li>
          <li class="total clearfix">
            <div class="pull-right"><strong>Shipping</strong>: $5.00</div>
            <div class="pull-left"><strong>Total</strong>: $173.00</div>
          </li>
          <li class="cart-btn">
            <a href="#." class="active">VIEW CART </a>
            <a href="#.">CHECKOUT </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  <section class="page_menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="hidden">hidden</h3>
          <ul class="breadcrumb">
            <li><a href="shopindex.html">Home</a>
            </li>
            <li>Products</li>
            <li class="active"> Sacrificial Chair Design </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!--Cart Detail -->
  <section id="cart" class="padding_bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div id="slider_product" class="cbp margintop40">
            <div class="cbp-item">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <img src="/static/shop/images/detail1.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="cbp-item">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <img src="/static/shop/images/detail2.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="cbp-item">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <img src="/static/shop/images/detail3.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="cbp-item">
              <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                  <img src="/static/shop/images/detail4.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div id="js-pagination-slider">
            <div class="cbp-pagination-item cbp-pagination-active">
              <img src="/static/shop/images/detail1.jpg" alt="">
            </div>
            <div class="cbp-pagination-item cbp-pagination-active">
              <img src="/static/shop/images/detail2.jpg" alt="">
            </div>
            <div class="cbp-pagination-item">
              <img src="/static/shop/images/detail3.jpg" alt="">
            </div>
            <div class="cbp-pagination-item">
              <img src="/static/shop/images/detail4.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="detail_pro margintop40">
            <h4 class="bottom30">{{ blog_list.title }}</h4>
            <p class="bottom30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <ul class="review_list marginbottom15">
              <li><img src="/static/shop/images/star.png" alt="star">
              </li>
              <li><a href="#.">10 review(s) </a>
              </li>
              <li><a href="#.">Add your review</a>
              </li>
            </ul>
            <h2 class="price marginbottom15"><i class="fa fa-gbp"></i>70.00</h2>

            <form class="cart-form">
              <div class="form-group">
                <label for="city">
                  Size *
                </label>
                <label class="select form-control">
                  <select name="country" id="city">
                    <option selected>- Please select -</option>
                    <option>Canada</option>
                    <option>Chilli</option>
                    <option>France</option>
                  </select>
                </label>
              </div>
              <div class="form-group">
                <label for="city">
                  Color *
                </label>
                <label class="select form-control">
                  <select name="country" id="color">
                    <option selected>- Please select -</option>
                    <option>Canada</option>
                    <option>Chilli</option>
                    <option>France</option>
                  </select>
                </label>
              </div>
              <p class="text-danger">Repuired Fiields *</p>
            </form>
            <form class="cart-form">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="quan">
                      Quantity *
                    </label>
                  </div>
                  <div class="col-sm-6">
                    <label class="select form-control">
                      <select name="country" id="selection">
                        <option selected>- 01 -</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </form>
            <div class="cart-buttons">
              <a class="uppercase border-radius btn-dark" href="cart.html"><i class="fa fa-shopping-basket"></i> &nbsp; Add to cart</a>
              <a class="icons" href="#.">
                <i class="fa fa-heart-o"></i>
              </a>
              <a class="icons" href="#.">
                <i class="fa fa-exchange"></i>
              </a>
            </div>

            <div class="cart-share margintop30">
              <ul>
                <li><a href="#." class="facebook"><i class="fa fa-facebook-official"></i><span>Like</span></a>
                </li>
                <li><a href="#." class="twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
                </li>
                <li><a href="#." class="google"><i class="fa fa-google"></i></a>
                </li>
                <li><a href="#." class="share"><i class="fa fa-plus-square"></i><span>Share</span></a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="bottom_half">
    <div class="container">
      <div class="row">
        <div class="clearfix col-md-12">
          <div class="shop_tab">
            <ul class="tabs">
              <li class="active" rel="tab1">
                <h4 class="heading uppercase">Description</h4>
              </li>
              <li rel="tab2">
                <h4 class="heading uppercase">Customer Review</h4>
              </li>
              <li rel="tab3">
                <h4 class="heading uppercase">Product Tags</h4>
              </li>
            </ul>
            <div class="tab_container">
              <div id="tab1" class="tab_content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
              </div>

              <div id="tab2" class="tab_content">
                <ol class="commentlist">
                  <li>
                    <div class="avator clearfix"><img src="/static/shop/images/testinomial1.png" class="img-responsive border-radius" alt="author">
                    </div>
                    <div class="comment-content"> <span class="stars"><img alt="star rating" src="/static/shop/images/star.png"></span> <strong>Cobus Bester</strong> -
                      <time datetime="2016-04-07T11:58:43+00:00">April 7, 2016</time>
                      <p>This album proves why The Woo are the best band ever. Best music ever!</p>
                    </div>
                  </li>
                  <li>
                    <div class="avator clearfix"><img src="/static/shop/images/testinomial1.png" class="img-responsive border-radius" alt="author">
                    </div>
                    <div class="comment-content"> <span class="stars"><img alt="star rating" src="/static/shop/images/star.png"></span> <strong>Cobus Bester</strong> -
                      <time datetime="2016-04-07T11:58:43+00:00">April 7, 2016</time>
                      <p>This album proves why The Woo are the best band ever. Best music ever!</p>
                    </div>
                  </li>
                </ol>

                <form class="review-form margintop15">
                  <div class="row">
                    <div class="col-sm-12 form-group">
                      <label class="control-label">Your Review</label>
                      <textarea class="form-control" rows="3" placeholder="Your Review"></textarea>
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="inputPassword" class="control-label">Name</label>
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="inputPassword" class="control-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="col-sm-12">
                      <input type="submit" class="btn-light border-radius" value="Submit">
                    </div>
                  </div>
                </form>
              </div>
              <div id="tab3" class="tab_content">
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-responsive table-striped">
                      <tbody>
                        <tr>
                          <td>Part Number</td>
                          <td>60-MCTE</td>
                        </tr>
                        <tr>
                          <td>Item Weight</td>
                          <td>54 pounds</td>
                        </tr>
                        <tr>
                          <td>Product Dimensions</td>
                          <td>92.8 inches</td>
                        </tr>
                        <tr>
                          <td>Item model number</td>
                          <td>60-MCTE</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-responsive table-striped">
                      <tbody>
                        <tr>
                          <td>Item Package Quantity</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <td>Number of Handles</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <td>Batteries Required?</td>
                          <td>NO</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="feature_product" class="bottom_half">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="heading uppercase bottom30">upsell products</h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product_wrap bottom_half">
            <div class="tag-btn"><span class="uppercase text-center">New</span>
            </div>
            <div class="image">
              <a class="fancybox" href="/static/shop/images/product1.jpg"><img src="/static/shop/images/product1.jpg" alt="Product" class="img-responsive">
              </a>
            </div>
            <div class="product_desc">
              <p class="title">Sacrificial Chair Design </p>
              <span class="price"><i class="fa fa-gbp"></i>170.00</span>
              <a class="fancybox" href="/static/shop/images/product1.jpg" data-fancybox-group="gallery"><i class="fa fa-shopping-bag open"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product_wrap bottom_half">
            <div class="image">
              <a class="fancybox" href="images/product2.jpg"><img src="/static/shop/images/product2.jpg" alt="Product" class="img-responsive">
              </a>
            </div>
            <div class="product_desc">
              <p class="title">Sacrificial Chair Design </p>
              <span class="price"><i class="fa fa-gbp"></i>170.00</span>
              <a class="fancybox" href="images/product2.jpg" data-fancybox-group="gallery"><i class="fa fa-shopping-bag open"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product_wrap bottom_half">
            <div class="tag-btn"><span class="uppercase text-center">New</span>
            </div>
            <div class="image">
              <a class="fancybox" href="images/product8.jpg"><img src="/static/shop/images/product8.jpg" alt="Product" class="img-responsive">
              </a>
            </div>
            <div class="product_desc">
              <p class="title">Sacrificial Chair Design </p>
              <span class="price"><i class="fa fa-gbp"></i>170.00</span>
              <a class="fancybox" href="images/product8.jpg" data-fancybox-group="gallery"><i class="fa fa-shopping-bag open"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product_wrap bottom_half">
            <div class="image">
              <a class="fancybox" href="images/product4.jpg"><img src="/static/shop/images/product4.jpg" alt="Product" class="img-responsive">
              </a>
            </div>
            <div class="product_desc">
              <p class="title">Sacrificial Chair Design </p>
              <span class="price"><i class="fa fa-gbp"></i>170.00</span>
              <a class="fancybox" href="images/product4.jpg" data-fancybox-group="gallery"><i class="fa fa-shopping-bag open"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--Footer-->
  <footer class="padding_top bottom_half">
    <a href="#." class="go-top text-center"><i class="fa fa-angle-double-up"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer_panel content_space">
            <h4 class="heading_border heading_space">about store</h4>
            <ul class="about_foot">
              <li><i class="fa fa-home"></i>234 Heaven Stress, Beverly Hill.</li>
              <li><i class="fa fa-phone"></i>800) 123 456 789</li>
              <li><a href="#."><i class="fa fa-envelope-o"></i>Contact@erentheme.com</a>
              </li>
              <li>
                <span><img src="/static/shop/images/paymennt1.png" alt="payment"></span>
                <span><img src="/static/shop/images/payment2.png" alt="payment"></span>
                <span><img src="/static/shop/images/payment3.jpg" alt="payment"></span>
                <span><img src="/static/shop/images/payment4.png" alt="payment"></span>
                <span><img src="/static/shop/images/payment5.png" alt="payment"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer_panel content_space">
            <h4 class="heading_border heading_space">My Account</h4>
            <ul class="account_foot">
              <li><a href="#.">My Account</a>
              </li>
              <li><a href="#.">Login</a>
              </li>
              <li><a href="#.">My Cart</a>
              </li>
              <li><a href="#.">Wishlist</a>
              </li>
              <li><a href="#.">Checkout</a>
              </li>
              <li><a href="#.">Userinfo</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer_panel content_space">
            <h4 class="heading_border heading_space">INFORMATION</h4>
            <ul class="account_foot">
              <li><a href="#.">My Account</a>
              </li>
              <li><a href="#.">Login</a>
              </li>
              <li><a href="#.">My Cart</a>
              </li>
              <li><a href="#.">Wishlist</a>
              </li>
              <li><a href="#.">Checkout</a>
              </li>
              <li><a href="#.">Userinfo</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer_panel content_space">
            <h4 class="heading_border heading_space">Customer Service</h4>
            <ul class="account_foot">
              <li><a href="#.">Shipping Policy</a>
              </li>
              <li><a href="#.">Compensation First</a>
              </li>
              <li><a href="#.">My Account</a>
              </li>
              <li><a href="#.">Return Policy</a>
              </li>
              <li><a href="#.">Contact Us</a>
              </li>
              <li><a href="#.">Shipping Info</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p>Copyright &copy; 2016 <a href="#.">Erentheme</a>. All Right Reserved.</p>
        </div>
        <div class="col-sm-8">
          <ul class="social">
            <li><a href="#."><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#."><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#."><i class="fa fa-rss"></i></a>
            </li>
            <li><a href="#."><i class="fa fa-google-plus"></i></a>
            </li>
            <li><a href="#."><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/shop/js/jquery-2.2.3.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U"></script>-->
  <!--<script src="js/gmap3.min.js"></script>-->
  <script src="/static/shop/js/bootstrap.min.js"></script>
  <script src="/static/shop/js/bootsnav.js"></script>
  <script src="/static/shop/js/jquery.parallax-1.1.3.js"></script>
  <script src="/static/shop/js/jquery.appear.js"></script>
  <script src="/static/shop/js/owl.carousel.min.js"></script>
  <script src="/static/shop/js/jquery.cubeportfolio.min.js"></script>
  <script src="/static/shop/js/jquery.fancybox.js"></script>
  <script src="/static/shop/js/jquery.themepunch.tools.min.js"></script>
  <script src="/static/shop/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/static/shop/js/revolution.extension.layeranimation.min.js"></script>
  <script src="/static/shop/js/revolution.extension.navigation.min.js"></script>
  <script src="/static/shop/js/revolution.extension.parallax.min.js"></script>
  <script src="/static/shop/js/revolution.extension.slideanims.min.js"></script>
  <script src="/static/shop/js/revolution.extension.video.min.js"></script>
  <script src="/static/shop/js/kinetic.js"></script>
  <script src="/static/shop/js/jquery.final-countdown.js"></script>

  <script src="/static/shop/js/functions.js"></script>

</body>

</html>
