<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<title>Register For ArithmeticJia</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/my-login.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
                    </br>
{#					<div class="brand">#}
{#						<img src="/static/images/logo.jpg">#}
{#					</div>#}
                    {% if message %}
                        <div style="text-align: center">
                            <span class="alert alert-warning">{{ message }}</span>
                        </div>
                    {% endif %}
                    </br>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Register</h4>
							<form method="POST" action="/JiaBlog/register/">
                                {% csrf_token %}
								<div class="form-group">
									<label for="name">Name</label>
									<input id="name" type="text" class="form-control" name="username" required autofocus>
								</div>

								<div class="form-group">
									<label for="email">E-Mail</label>
									<input id="email" type="email" class="form-control" name="email" required>
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password1" type="password" class="form-control" name="password1" required data-eye>
								</div>

                                <div class="form-group">
									<label for="password">Confirm Password</label>
									<input id="password2" type="password" class="form-control" name="password2" required data-eye>
								</div>

{#								<div class="form-group">#}
{#									<label>#}
{#										<input type="checkbox" name="aggree" value="1"> I agree to the Terms and Conditions#}
{#									</label>#}
{#								</div>#}

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
										Register
									</button>
								</div>
								<div class="margin-top20 text-center">
									Already have an account? <a href="/JiaBlog/login">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2019.Company name All rights reserved.苏ICP备19007197号 <a href="https://www.guanacossj.com" target="_blank" title="arithmeticjia">arithmeticjia</a> - Collect from <a href="https://www.guanacossj.com/" title="arithmeticjia" target="_blank">arithmeticjia</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="/static/js/my-login.js"></script>
</body>
</html>