<!doctype html>
<html lang="en">

<head>
<title>Login</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="js代码（www.jsdaima.com）">
<meta name="author" content="js代码（www.jsdaima.com）">

<link rel="icon" href="/static/jia_admin/images/favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="/static/jia_admin/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/jia_admin/vendor/animate-css/animate.min.css">
<link rel="stylesheet" href="/static/jia_admin/vendor/font-awesome/css/font-awesome.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/static/jia_admin/css/main.css">
<link rel="stylesheet" href="/static/jia_admin/css/color_skins.css">
</head>

<body class="theme-blue">
	<!-- WRAPPER -->

	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                    <div class="mobile-logo"><a href="index.html"><img src="/static/jia_admin/images/logo-icon.svg" alt="Mplify"></a></div>
                    <!--div class="auth-left">
                        <div class="left-top">
                            <a href="index.html">
                                <img src="/static/jia_admin/images/logo-icon.svg" alt="Mplify">
                                <span>Mplify</span>
                            </a>
                        </div>
                        <div class="left-slider">
                            <img src="/static/jia_admin/images/login/background-blur-bread-364109.jpg" class="img-fluid" alt="">
                        </div>
                    </div-->
                    <!--div-- class="auth-right">
                        <div class="right-top">
                            <ul class="list-unstyled clearfix d-flex">
                                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li><a href="javascript:void(0);">Help</a></li>
                                <li><a href="javascript:void(0);">Contact</a></li>
                            </ul>
                        </div>
                        <div class="card">
                            <div class="header">
                                <p class="lead">Log in</p>
                            </div>
                            <div class="body">
                                <form class="form-auth-small" action="/JiaBlog/login/" method="POST">
                                    {% if message %}
                                        <div class="alert alert-warning">{{ message }}</div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="signin-username" class="control-label sr-only">Username</label>
                                        <input name = "username" type="text" class="form-control" id="signin-username" value="" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" name = "password" class="form-control" id="signin-password" value="" placeholder="Password">
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                        </label>								
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                    <div class="bottom">
                                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span>
                                        <span>Don't have an account? <a href="/JiaBlog/register">Register</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div-->
                                        <div class="card">
                            <div class="header">
                                <p class="lead">Log in</p>
                            </div>
                            <div class="body">
                                <form class="form-auth-small" action="/JiaBlog/login/" method="POST">
                                    {% if message %}
                                        <div class="alert alert-warning">{{ message }}</div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="signin-username" class="control-label sr-only">Username</label>
                                        <input name = "username" type="text" class="form-control" id="signin-username" value="" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" name = "password" class="form-control" id="signin-password" value="" placeholder="Password">
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                    <div class="bottom">
                                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span>
                                        <span>Don't have an account? <a href="/JiaBlog/register">Register</a>&nbsp;&nbsp;&nbsp;<a href="/JiaBlog/index/">Home</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>
				</div>
			</div>
		</div>
	</div>


	<!-- END WRAPPER -->
</body>
</html>
