<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta charset="UTF-8">
    <title>Weather</title>

<body>
            <div class="location">当前城市：{{ location }}</div>
            <div class="weather">当前天气：{{ weather }}</div>
            <div class="temperature">当前气温：{{ temperature }}</div>
            <div class="winddirection">当前风向：{{ winddirection }}</div>
            <div class="windpower">当前风力：{{ windpower }}</div>
            <div class="humidity">当前湿度：{{ humidity }}</div>
            <div class="reporttime">{{ reporttime }}</div>

</body>
</html>