<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="shortcut icon" href="/static/images/favicon.ico">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>版本更新时间线</title>
	<link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/static/css/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/static/inc/colorbox.css" type="text/css" media="screen">
</head>
<body>
	<div class="container">
		<h1>ArithmeticJia's Blog.Timeline</h1>
		<p class="lead"></p>

		<h2>Versions</h2>

		
		<div id="timelineContainer" class="timelineContainer">

			<div class="timelineToggle"><p><a class="expandAll">+ 全部展开</a></p></div>

			<br class="clear">

			<div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.11.26</span></h2>
				<dl class="timelineMinor">
					<dt id="19540517"><a>请叫我算术嘉的博客网站上线</a></dt>
					<dd class="timelineEvent" id="19540517EX" style="display:none;">
						<h3>2018年11月26日</h3>
						<p>请叫我算术嘉的博客在阿里云部署上线，使用数据库为db.sqlite3,后台Django，使用Nginx+uwsgi部署项目</p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

			<div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.11.27</span></h2>
				<dl class="timelineMinor">
					<dt id="19550828"><a>第一篇博客展示</a></dt>
					<dd class="timelineEvent" id="19550828EX" style="display:none;">
						<h3>November.27.2018</h3>
						<p>使用db.sqlite3存储第一篇博客</p>

						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->


				<dl class="timelineMinor">
					<dt id="19551201"><a>第一篇博客跳转详情页展示</a></dt>
					<dd class="timelineEvent" id="19551201EX" style="display:none;">
						<h3>November.27.2018</h3>
						<p>
							<sup></sup>详情页面展示博客内容</p>

							<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

			<div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.11.29</span></h2>
				<dl class="timelineMinor">
					<dt id="19570904"><a>给可爱多的三周年纪念网页上线</a></dt>
					<dd class="timelineEvent" id="19570904EX" style="display:none;">
						<h3>November 29, 2018</h3>

				
						<p>
                            越长久的越珍贵
							<sup></sup></p>

						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

			<div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.12.5</span></h2>
				<dl class="timelineMinor">
					<dt id="19610504"><a>博客留言功能上线</a></dt>
					<dd class="timelineEvent" id="19610504EX" style="display:none;">
						<h3>December 5, 2018</h3>

					<p>
						每一个细节的完善，都需要你的宝贵意见
                        <sup></sup></p>
                        <br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.12.7</span></h2>
				<dl class="timelineMinor">
					<dt id="196105049"><a>数据库迁移mysql</a></dt>
					<dd class="timelineEvent" id="196105049EX" style="display:none;">
						<h3>December 7, 2018</h3>

					<p>
						为了性能与稳定，为了更快、更好<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

			<div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.12.10</span></h2>
				<dl class="timelineMinor">
					<dt id="19630828"><a>博客点击量功能上线</a></dt>
					<dd class="timelineEvent" id="19630828EX" style="display:none;">
						<h3>December 10, 2018</h3>
						
						<p>
							一个小小的展示背后，离不开每一个的支持</p>

						<!--blockquote>
							<div class="attribution">&mdash;ArithmeticJia</div>
						</blockquote-->

						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->

			</div><!-- /.timelineMajor -->

			<div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.12.12</span></h2>

				<dl class="timelineMinor">
					<dt id="19640702"><a>博客评论功能上线</a></dt>
					<dd class="timelineEvent" id="19640702EX" style="display:none;">
						<h3>December 12, 2018</h3>
						<p>
							通过外键关联新增评论博客功能，留下你的联系方式，说出的想法</p>

							<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->

				<dl class="timelineMinor">
					<dt id="196407026"><a>博客标签、分类功能上线</a></dt>
					<dd class="timelineEvent" id="196407026EX" style="display:none;">
						<h3>December 12, 2018</h3>
						<p>每篇博客新增标签、分类，帮助你精准找到你想看的文章</p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->

			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.12.28</span></h2>
				<dl class="timelineMinor">
					<dt id="19640703"><a>博客详情新增markdown展示功能</a></dt>
					<dd class="timelineEvent" id="19640703EX" style="display:none;">
						<h3>December 28, 2018</h3>

					    <p>
						    更优美的文章详情展示，代码块高亮，便于你更清晰的阅读代码
                        <sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2018.12.31</span></h2>
				<dl class="timelineMinor">
					<dt id="19610508"><a>所有博客列表上线</a></dt>
					<dd class="timelineEvent" id="19610508EX" style="display:none;">
						<h3>December 31, 2018</h3>

					<p>
						全新的展示页面，哪里都一样，哪里都不一样<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.5</span></h2>
				<dl class="timelineMinor">
					<dt id="196105045"><a>分页功能上线</a></dt>
					<dd class="timelineEvent" id="196105045EX" style="display:none;">
						<h3>January 5  2019</h3>

					<p>
                        更方便的阅读体验，每一个细节都栩栩如生
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.7</span></h2>
				<dl class="timelineMinor">
					<dt id="196105064"><a>博客评论、留言页面优化</a></dt>
					<dd class="timelineEvent" id="196105064EX" style="display:none;">
						<h3>January 7  2019</h3>

					<p>
                        每一次努力，为了更好的表现
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.15</span></h2>
				<dl class="timelineMinor">
					<dt id="196105068"><a>搜索功能上线</a></dt>
					<dd class="timelineEvent" id="196105068EX" style="display:none;">
						<h3>January 15  2019</h3>

					<p>
                        你想要的一切，都轻而易举
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.18</span></h2>
				<dl class="timelineMinor">
					<dt id="196105067"><a>美图好文展示上线</a></dt>
					<dd class="timelineEvent" id="196105067EX" style="display:none;">
						<h3>January 18  2019</h3>

					<p>
                        每一句真心的话值得一张美图，为此殚精竭虑
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.19</span></h2>
				<dl class="timelineMinor">
					<dt id="1961050609"><a>支持留言自动邮件回复</a></dt>
					<dd class="timelineEvent" id="1961050609EX" style="display:none;">
						<h3>January 19  2019</h3>

					<p>
                        你的每一个宝贵意见，我们都欣然接受
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.24</span></h2>
				<dl class="timelineMinor">
					<dt id="19610506096"><a>博客分类页面筛选展示上线，替换CSDN链接跳转</a></dt>
					<dd class="timelineEvent" id="19610506096EX" style="display:none;">
						<h3>January 24  2019</h3>

					<p>
                        更便捷的分类查看，更有效的阅读
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.29</span></h2>
				<dl class="timelineMinor">
					<dt id="196105060916"><a>修复bug若干，新增支付宝扫码打赏功能</a></dt>
					<dd class="timelineEvent" id="196105060916EX" style="display:none;">
						<h3>January 29  2019</h3>

					<p>
                        你的每一点小小的心意，我都铭记在心，衷心感谢你的支持！
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>2019.1.30</span></h2>
				<dl class="timelineMinor">
					<dt id="1961050609516"><a>全新的博客2.0项目正式启动</a></dt>
					<dd class="timelineEvent" id="1961050609516EX" style="display:none;">
						<h3>January 30  2019</h3>

					<p>
                        从未有过的体验，从这一刻开始
						<sup></sup></p>
						<br class="clear">
					</dd><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->

            <div class="timelineMajor">
				<h2 class="timelineMajorMarker"><span>...未完待续</span></h2>
				<dl class="timelineMinor">
					<dt id="19610504"><a>下一个惊喜值得期待</a></dt>
					<!--dd class="timelineEvent" id="19610504EX" style="display:none;">
						<h3>January 7  2019</h3>

					<p>
                        每一次努力，为了更好的表现
						<sup></sup></p>
						<br class="clear">
					</dd--><!-- /.timelineEvent -->
				</dl><!-- /.timelineMinor -->
			</div><!-- /.timelineMajor -->


			<br class="clear">
		</div><!-- /#timelineContainer -->
	</div><!-- /.container -->

	<!-- GLOBAL CORE SCRIPTS -->
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/inc/colorbox.js"></script>
	<script type="text/javascript" src="/static/js/timeliner.min.js"></script>
	<script>
		$(document).ready(function() {
			$.timeliner({
				startOpen:['#19550828EX', '#19630828EX']
			});
			$.timeliner({
				timelineContainer: '#timelineContainer_2'
			});
			// Colorbox Modal
			$(".CBmodal").colorbox({inline:true, initialWidth:100, maxWidth:682, initialHeight:100, transition:"elastic",speed:750});
		});
	</script>

</body>
</html>